cycler==0.10.0
Cython==0.29.21
mock==4.0.2
opencv-python==4.4.0.44
portalocker==2.0.0
protobuf==3.13.0
pycocotools==2.0.2
PyYAML==5.3.1
scikit-image==0.17.2
six==1.15.0
tabulate==0.8.7
tensorboard==2.3.0
tornado==6.0.4
tqdm==4.51.0
yacs==0.1.8
setuptools==59.5.0